.game-container {
    display: flex;
}

.game-container canvas {
    cursor: crosshair;
}

.sidebar {
    border: 3px solid #0E9C03;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    width: 100px;
}

.sidebar-lives {
    display: flex;
    align-items: center;
}

#volume-control {
    width: 80px;
}

#audio-button {
    font-size: 40px;
}

#audio-button:hover {
    text-shadow: 0 0 10px #0E9C03;
}

.muted{
    color: red;
}

.muted:hover {
    text-shadow: 0 0 10px #0E9C03;
}

#level-title {
    font-size: 30px;
}

#zombo-game {
    margin-right: 100px;
}