.game-container {
    display: flex;
}

.game-container canvas {
    cursor: crosshair;
}

.sidebar {
    border: 3px solid #0E9C03;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    width: 100px;
}

.sidebar i {
    font-size: 40px;
}

#level-title {
    font-size: 30px;
}

#zombo-game {
    margin-right: 100px;
}